header {
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(16, 54, 77);
}

h1 {
    color: rgb(175, 198, 211);
    font-family: "arial";
    font-size: 60px;
    position: left;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    
}

nav {
    padding: 20px;
    margin: 20px;
    color: rgb(175, 198, 211);
    font-family: "arial";
    margin-left: 600px;
    display: inline;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin: 20px;
    font-size: 20px;
    margin-left: 30px;
}

a:visited {
    color: rgb(175, 198, 211);
}

a:hover {
    color: white;
}

main {
    display: flex;
}

main p {
    font-size: 25px;
    font-family: "arial";
    color: rgb(16, 54, 77);
    margin: 80px 50px;
}

main img {
    height: 250px;
    width: 230px;
    margin: 50px;
    display: flex;
}

.border {
    min-height: 300px;
    border-right: 15px solid grey;
    margin: 60px;
    display: flex;

}

main h2 {
    margin: 30px;
    margin-top: 50px;
}

.aboutme{
    border-style: outset;
    padding: 10px;
    background-color: rgb(175, 198, 211);
    font-size: 40px;
    font-family: "arial";
    color: rgb(16, 54, 77);
}

.work {
    border-style: outset;
    padding: 10px;
    background-color: rgb(175, 198, 211);
    font-size: 40px;
    font-family: "arial";
    color: rgb(16, 54, 77);
    font-weight: bold;
}

aside {
    display: flex;
}

aside ul {
    display: flex;
}

aside ul li {
    list-style: none;
    margin: 60px;
    padding: 50px;
    border-style: outset;
    border-width: 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
}

aside h2 {
    margin: 30px;
    margin-top: 50px;
}

.resume {
    border-style: outset;
    padding: 10px;
    background-color: rgb(175, 198, 211);
    font-family: "arial";
    color: rgb(16, 54, 77);
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;

}

.contact {
    border-style: outset;
    padding: 10px;
    background-color: rgb(175, 198, 211);
    font-family: "arial";
    color: rgb(16, 54, 77);
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
}

footer li {
    font-size: 20px;
    display: flex;
}

section ul {
    font-size: 30px;
    display: flex;

}

@media screen and (max-width: 1500px) {
    aside ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    header,
    nav{
        flex-direction: column;
    }

    aside 
    ul {
        flex-direction: column;
    }
}



